@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_cz0lrlo3umn.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_cz0lrlo3umn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_cz0lrlo3umn.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_cz0lrlo3umn.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_cz0lrlo3umn.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_cz0lrlo3umn.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
