.content {
  width: 1920px;
  min-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background: #f8f8f8;
  color: #53627c;
}
.el-tabs--card > .el-tabs__header {
  border: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom: 2px solid #0c66ff;
  color: #0d55cf;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  color: #8a94a6;
}
.el-tabs__item {
  color: #53627c;
  border: none;
}
.el-tabs__item:hover {
  border-bottom: 2px solid #0c66ff !important;
  color: #0d55cf !important;
}
.el-table {
  text-align: center;
  border-collapse: collapse;
}
.el-table__header {
  font-weight: 700;
  font-size: 16px;
  color: #91c3ff;
}
.el-table--border {
  border-radius: 4px;
  border: 1px solid #e1e4e8;
}
.el-table th,
.el-table tr {
  text-align: center;
  font-size: 16px;
  font-family: 'SFProText-Medium', 'SFProText';
  color: #0a1f44;
}
.el-table th {
  background: #f8f9fb;
}
.el-table td {
  text-align: center;
  color: #8a94a6;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: none;
}
.el-table__body {
  font-size: 14px;
  color: #cae3ff;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  height: 0;
  width: 0;
}
.el-progress-bar__outer {
  background-color: #02066c;
  border: 1px solid rgba(41, 139, 247, 0.5);
}
.el-progress-bar__inner {
  background: linear-gradient(to right, rgba(41, 139, 247, 0.2), #4b9eff);
}
.el-dialog {
  background-color: transparent;
  color: #53627c;
  border: 2px solid #4e9fff !important;
}
.el-dialog__header {
  border-bottom: 2px solid #4e9fff;
  background-color: #121468;
  opacity: 0.7;
  padding: 20px;
}
.el-dialog__title {
  color: #cae3ff;
  font-weight: 700;
  font-size: 24px;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #53627c;
  font-size: 40px;
  transform: translateY(-5px);
}
.el-dialog__body {
  background: rgba(8, 7, 46, 0.9);
  color: #53627c;
  border-color: #4e9fff;
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: url('../images//enterpriseImage/info_gradient.svg') no-repeat;
}
.block {
  position: absolute;
  top: 18px;
  left: 0;
  width: 6px;
  height: 14px;
  background-color: #eebc3b;
}
.el-pagination {
  font-family: 'PingFangSC-Medium', 'PingFang SC';
  font-size: 12px;
  font-weight: 700;
  color: #a6aebc;
}
.el-pagination span,
.el-pagination a {
  font-family: 'PingFangSC-Medium', 'PingFang SC';
  font-size: 12px;
  font-weight: 700;
  color: #a6aebc;
}
.el-pager li {
  width: 32px;
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  margin-right: 4px;
  background: #f8f8f8;
}
.el-pager li.active {
  color: #409eff;
  cursor: default;
  background: #cce6ff;
  border-radius: 16px;
}
.el-pagination button,
.el-pagination span:not([class*='suffix']) {
  height: 32px;
  min-width: 32px;
  line-height: 32px;
}
.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
  color: #a6aebc;
}
.el-pagination .btn-prev {
  margin-left: 28px;
  background: #f8f8f8;
}
.el-pagination .btn-next {
  margin-right: 28px;
  background: #f8f8f8;
}
.el-pagination__total {
  margin: 0;
}
.el-pagination__jump {
  margin: 0;
}
.el-input__inner {
  color: #a6aebc;
  font-size: 14px;
  font-family: 'PingFangSC-Medium', 'PingFang SC';
  background: #f8f8f8;
}
.look {
  color: #00c808;
  cursor: pointer;
}
h2 {
  position: relative;
  z-index: 999;
  height: 32px;
  font-size: 24px;
  font-weight: 600;
  color: #0a1f44;
  padding-left: 12px;
}
.chunk {
  position: absolute;
  z-index: -1;
  width: 8px;
  height: 23px;
  background: #1e56a0;
  top: 3px;
  left: 0;
}
.compony {
  position: relative;
  padding-bottom: 40px;
}
.compony .compony_top {
  position: relative;
  width: 100%;
}
.compony .compony_top .compony_line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 31px;
  left: 130px;
  z-index: 1;
  background: url('../images//enterpriseImage/compony_info.svg') no-repeat;
}
.compony .compony_content .item .hd {
  padding-left: 10px;
  font-size: 16px;
  line-height: 50px;
  position: relative;
}
.compony .compony_content .item .hd .compony_info {
  font-weight: 400;
  font-size: 14px;
  color: #53627c;
}
.compony .compony_content .item .hd .compony_info .info div span:first-of-type {
  width: 130px;
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}
.compony .compony_content .item .hd .compony_info .info div span:last-of-type {
  color: #cae3ff;
}
.compony .compony_content .item .hb {
  margin-bottom: 30px;
}
.compony .compony_content .item .hb .eve {
  width: 606px;
  height: 64px;
  background-color: #121468;
  text-align: center;
  line-height: 64px;
  color: #cae3ff;
}
.home {
  padding: 0;
}
.home .header {
  text-align: center;
  height: 54px;
  background: #1e56a0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}
.home .header img {
  transform: translateY(13px);
}
.home .search {
  position: fixed;
  top: 54px;
  right: 0;
  left: 0;
  height: 88px;
  background: #ffffff;
  padding: 20px 38px;
  box-shadow: 0px 3px 4px 0px rgba(10, 31, 68, 0.1), 0px 0px 1px 0px rgba(10, 31, 68, 0.08);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: space-between;
}
.home .search .left {
  width: 325px;
}
.home .search .left h2 {
  transform: translateY(10px);
}
.home .search .right {
  flex: 1;
  padding-top: 5px;
}
.home .main {
  margin-top: 142px;
  padding: 20px 22px 30px 38px;
}
.home .main .box {
  display: flex;
  flex-wrap: wrap;
}
.home .main .box .item {
  cursor: pointer;
  width: 445px;
  height: 226px;
  background: #ffffff;
  border-radius: 4px;
  margin: 0 20px 20px 0;
  padding: 24px 20px 10px 22px;
}
.home .main .box .item:hover {
  box-shadow: 0px 8px 10px 0px rgba(10, 31, 68, 0.1), 0px 0px 1px 0px rgba(10, 31, 68, 0.08);
}
.home .main .box .item:hover .title p {
  color: #0d55cf;
}
.home .main .box .item:hover .title .arrow {
  color: #0d55cf;
  display: block;
}
.home .main .box .item .title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.home .main .box .item .title img {
  width: 48px;
  height: 48px;
  margin: 0 12px 0 22px;
}
.home .main .box .item .title p {
  flex: 1;
  font-size: 16px;
  font-family: '微软雅黑', 'PingFangSC-Medium', 'PingFang SC', 'AvenirNext';
  font-weight: 500;
  color: #0a1f44;
}
.home .main .box .item .title .arrow {
  width: 12px;
  height: 12px;
  transform: translateY(-3px);
  position: relative;
  z-index: 0;
  display: none;
}
.home .main .box .item .info p {
  line-height: 40px;
}
.home .main .box .item .info p .l_icon {
  margin: 0 16px 0 34px;
}
.home .main .homePage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.enterpriseImage {
  padding: 75px 20px 20px 20px;
  background: #f8f8f8;
}
.enterpriseImage .info {
  padding: 20px 20px 0 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
}
.enterpriseImage .info h2 {
  text-align: left;
}
.enterpriseImage .info .logo {
  border-radius: 50%;
  margin: 31px 0 20px 0;
}
.enterpriseImage .info .title {
  font-size: 28px;
  font-family: 'PingFangSC-Semibold', 'PingFang SC';
  font-weight: 600;
  color: #0a1f44;
  line-height: 40px;
}
.enterpriseImage .info .table_map {
  margin-top: 40px;
}
.enterpriseImage .info .table_map table {
  width: 100%;
  padding: 0 40px;
  border-radius: 54px;
  border-collapse: collapse;
}
.enterpriseImage .info .table_map table .bold {
  font-weight: 500;
  background: #ffffff;
}
.enterpriseImage .info .table_map table th,
.enterpriseImage .info .table_map table td {
  border: 1px solid #e1e4e8;
  background-color: #fcfcfd;
  font-size: 14px;
  color: #8a94a6;
  font-weight: 700;
  line-height: 20px;
  padding: 14px;
}
.enterpriseImage .info .table_map table .business_box {
  padding: 0;
}
.enterpriseImage .info .table_map table .business {
  padding: 15px 0 15px 15px;
  overflow-y: auto;
  max-height: 80px;
  text-align: left;
  line-height: 20px;
  font-weight: 500;
  color: #8a94a6;
}
.enterpriseImage .info .table_map .map_box {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-family: 'PingFangSC-Medium', 'PingFang SC';
  color: #53627c;
  line-height: 28px;
  text-align: right;
  padding: 20px 0;
}
.enterpriseImage .info .table_map .map_box .map span {
  padding: 0 4px;
  cursor: pointer;
}
.enterpriseImage .info .table_map .map_box .map i {
  font-size: 18px;
  cursor: pointer;
}
.enterpriseImage .info .table_map .map_box .map:hover {
  color: #0d55cf;
}
.enterpriseImage .el-tabs {
  margin-top: 20px;
  color: #53627c;
  background: #ffffff;
  border-radius: 8px;
}
.enterpriseImage .el-tabs .el-tabs__nav {
  transform: translateX(124.3%) !important;
}
.enterpriseImage .el-tabs .el-tabs__header {
  margin: 0;
}
.enterpriseImage .el-tabs .el-tabs__content {
  max-height: 100%;
  overflow-y: auto;
  border-top: 1px solid #f1f2f4;
  margin-bottom: 50px;
  padding: 30px 25px 0 25px;
  min-width: 1200px;
  min-height: 390px;
  border-radius: 5px;
}
.enterpriseImage .el-tabs .item {
  margin-bottom: 30px;
}
.enterpriseImage .el-tabs h3 {
  font-weight: 650;
  font-size: 18px;
  color: #cae3ff;
  line-height: 65px;
}
.enterpriseImage .el-tabs h2 {
  margin-bottom: 16px;
}
.enterpriseImage .el-tabs p {
  line-height: 35px;
}
.enterpriseImage .el-tabs .look {
  color: #00c808;
  cursor: pointer;
}
.enterpriseImage .control_report .summary_info .tit {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 90px;
  color: #cae3ff;
}
.enterpriseImage .control_report .summary_info .info_box {
  position: relative;
  padding-bottom: 20px;
  line-height: 50px;
}
.enterpriseImage .control_report .summary_info .info_box .info {
  display: flex;
  flex-wrap: wrap;
}
.enterpriseImage .control_report .summary_info .info_box .info > div {
  width: 50%;
  text-align: left;
}
.enterpriseImage .control_report .summary_info .info_box .download {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.enterpriseImage .control_report .summary_info .report {
  position: relative;
  padding-bottom: 40px;
}
.enterpriseImage .dark_list {
  width: 606px;
  margin: 0 auto;
}
.enterpriseImage .verified {
  padding: 40px 40px;
  font-size: 18px;
  color: #53627c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.enterpriseImage .verified > div {
  width: 50%;
  display: flex;
  margin-bottom: 40px;
}
.enterpriseImage .verified > div .left {
  margin-right: 30px;
  position: relative;
}
.enterpriseImage .verified > div .left img {
  border-radius: 50%;
}
.enterpriseImage .verified > div .left img.is_verified {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -6px;
  bottom: 3px;
}
.enterpriseImage .verified > div .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.enterpriseOrder .order .tit {
  text-align: center;
  font-weight: 650;
  color: #cae3ff;
  font-size: 24px;
  margin: 30px 0 25px 0;
}
.enterpriseOrder .order .info {
  display: flex;
  justify-content: space-between;
}
.enterpriseOrder .order .info > div {
  flex: 1;
}
.enterpriseOrder .order .info .left {
  margin-right: 50px;
}
.enterpriseOrder .order .info .revenue_statu .item:nth-of-type(1) {
  color: #00c808;
}
.enterpriseOrder .order .info .revenue_statu .item:nth-of-type(2) {
  color: #ffb900;
}
.enterpriseOrder .order .info .revenue_statu .item:nth-of-type(3) {
  color: #ff1e62;
}
.enterpriseOrder .order .order_box {
  box-sizing: border-box;
  min-height: 200px;
  border: 2px solid #4e9fff !important;
  padding: 20px 22px 25px 30px;
  color: #121468;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: #121468;
}
.enterpriseOrder .order .box_content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.enterpriseOrder .order .com_tabs {
  margin-bottom: 10px;
}
.enterpriseOrder .order .com_name {
  font-weight: 650;
  font-size: 20px;
  color: #cae3ff;
  margin-top: 10px;
}
.enterpriseOrder .order .box {
  display: flex;
}
.enterpriseOrder .order .box .item {
  flex: 1;
  text-align: center;
}
.enterpriseOrder .order .box .item .item_top {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.enterpriseOrder .order .box .item .item_top .unit {
  font-size: 24px;
  font-weight: 650;
}
.enterpriseOrder .order .box .item:nth-of-type(1) {
  color: #b1dcff;
}
.enterpriseOrder .order .box .item:nth-of-type(2) {
  color: #00c808;
}
.enterpriseOrder .order .box .item:nth-of-type(3) {
  color: #ffb900;
}
.enterpriseOrder .order .box .item:nth-of-type(4) {
  color: #ff1e62;
}
.enterpriseOrder .order .box .item .item_bottom {
  margin-top: 15px;
  font-weight: 650;
  color: #ffffff;
  font-size: 18px;
}
.enterpriseOrder .order .figure {
  display: flex;
  justify-content: space-between;
}
.enterpriseOrder .order .figure > div {
  flex: 4.5;
  min-height: 360px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  padding-top: 20px;
}
.enterpriseOrder .order .figure > div:nth-of-type(2) {
  flex: 3;
  margin-left: 30px;
  margin-right: 30px;
}
.enterpriseOrder .order .figure > div .box_content {
  padding-left: 30px;
  padding-right: 22px;
}
.enterpriseOrder .order .figure > div .canvas_box {
  overflow-x: auto;
  width: 650px;
}
.enterpriseOrder .order .figure .device_box {
  padding-left: 30px;
}
.enterpriseOrder .order .figure .device_box .box_content {
  padding-left: 0;
}
.enterpriseOrder .order .figure #production_units,
.enterpriseOrder .order .figure #device_status,
.enterpriseOrder .order .figure #defect_graph {
  transform: translateY(-20px);
}
.order_table.el-table th {
  color: #a5abf2;
  font-weight: 500;
}
.order_table.el-table tr {
  color: #c6d2f2;
}
.orderDialog {
  font-size: 16px;
}
.orderDialog .info_box .item h3 {
  color: #cae3ff;
  line-height: 70px;
  font-weight: 900 !important;
  font-size: 18px;
}
.orderDialog .info_box .item .order_info {
  display: flex;
  flex-wrap: wrap;
}
.orderDialog .info_box .item .order_info > div {
  width: 20%;
  line-height: 50px;
  font-size: 16px;
  color: #cae3ff;
}
.deviceTopology {
  padding: 85px 25px 25px 25px;
}
.deviceTopology .device_box {
  width: 100%;
  background-color: rgba(10, 18, 84, 0.6);
  display: flex;
}
.deviceTopology .device_box .left {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.deviceTopology .device_box .left h2 {
  font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
}
.deviceTopology .device_box .left > div {
  width: 500px;
  height: 500px;
  background-color: rgba(20, 0, 255, 0.13);
  border: 1px solid rgba(41, 139, 247, 0.5);
  border-image: -webkit-linear-gradient(rgba(41, 139, 247, 0.5), #4b9eff) 30 30;
  margin: 0 50px 30px 0;
}
.deviceTopology .device_box .left .device_img {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
.deviceTopology .device_box .left .device_img .device_item {
  cursor: pointer;
  width: 200px;
  height: 150px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #4e9fff;
  background-color: rgba(20, 0, 255, 0.2);
}
.deviceTopology .device_box .left .device_img .device_item .device_top {
  height: 27px;
  line-height: 27px;
  background-color: #00c808;
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
}
.deviceTopology .device_box .left .device_img .device_item .img_box {
  width: 100%;
  height: calc(100% - 27px);
}
.deviceTopology .device_box .left .device_img .device_item .img_box .device_bottom {
  height: 100%;
  width: auto;
}
.deviceTopology .device_box .left .device_img .device_item .img_box:hover {
  background-color: rgba(1, 83, 255, 0.3);
}
.deviceTopology .device_box .right {
  padding: 20px 0 70px 0;
  text-align: center;
  width: 160px;
  background-color: rgba(6, 13, 101, 0.7);
}
.deviceTopology .device_box .right .status_box h2 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #91c3ff;
}
.deviceTopology .device_box .right .status_box p {
  line-height: 40px;
}
.deviceTopology .device_box .right .status_box p .circle_statu {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: skyblue;
  margin-right: 7px;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(1) .circle_statu {
  background-color: #00c808;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(2) .circle_statu {
  background-color: #aeaeae;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(3) .circle_statu {
  background-color: #58a5ff;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(4) .circle_statu {
  background-color: #eebc3b;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(5) .circle_statu {
  background-color: #ff1e62;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(6) .circle_statu {
  background-color: #b357ff;
}
.deviceTopology .device_box .right .status_box p:nth-of-type(7) .circle_statu {
  background-color: #3aa25d;
}
.device_dia {
  width: 720px;
  height: 560px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00034f;
  border: 2px solid #497dc6;
  border-radius: 5px;
}
.device_dia .title {
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 5, 128, 0.7);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.device_dia .title h2 {
  vertical-align: middle;
  font-size: 24px;
  font-weight: 650;
  height: 60px;
}
.device_dia .title h2 img {
  margin-right: 8px;
}
.device_dia .title .close {
  font-size: 60px;
  line-height: 56px;
  font-weight: 100;
  cursor: pointer;
}
.device_dia .content_box {
  height: calc(100% - 60px);
}
.device_dia .content_box .el-tabs {
  height: 100%;
}
.device_dia .content_box .el-tabs .el-tabs__header {
  background-color: rgba(0, 5, 128, 0.7);
  border-bottom: 2px solid #497dc6;
  margin: 0;
}
.device_dia .content_box .el-tabs .el-tabs__content {
  padding: 25px 25px;
  height: calc(100% - 43px);
  overflow-y: auto;
}
.device_dia .content_box .el-tabs .el-tabs__item {
  padding: 0 !important;
  border: 1px solid transparent;
  color: #cae3ff;
  padding: 0 40px !important;
}
.device_dia .content_box .el-tabs .el-tabs__header .el-tabs__nav {
  border: 1px solid transparent;
}
.device_dia .content_box .el-tabs .el-tabs__item.is-active {
  border: 1px solid rgba(41, 139, 247, 0.2);
  background: linear-gradient(to right, RGBA(0, 88, 191 0.36), RGBA(29, 69, 277 0.15), RGBA(0, 88, 191 0.36));
  color: #cae3ff;
}
.device_dia .content_box .el-tabs .el-tabs__item:hover {
  border: 1px solid rgba(41, 139, 247, 0.2);
  background: linear-gradient(to right, RGBA(0, 88, 191 0.36), RGBA(29, 69, 277 0.15), RGBA(0, 88, 191 0.36));
  color: #cae3ff;
}
.device_dia .content_box .info .info_con {
  position: relative;
  padding-bottom: 20px;
}
.device_dia .content_box .info .info_con .new {
  color: #53627c;
}
.device_dia .content_box .info .info_con > p {
  font-weight: 400;
  font-size: 14px;
  color: #cae3ff;
  line-height: 30px;
}
.device_dia .content_box .info .info_con > p span:first-of-type {
  color: #53627c;
  display: inline-block;
  width: 115px;
  text-align: right;
  margin-right: 15px;
}
.device_dia .content_box .info .info_con .rate {
  display: flex;
}
.device_dia .content_box .info .info_con .rate .el-progress {
  flex: 1;
}
.device_dia .content_box .info .info_con .rate .el-progress .el-progress__text {
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: #53627c;
}
.device_dia .content_box .info .info_box .item {
  margin-top: 25px;
}
.device_dia .content_box .info .info_box .item .old {
  color: #53627c;
}
.device_dia .content_box .info .info_box .item p {
  margin: 15px 0;
  font-weight: 400;
  font-size: 14px;
  color: #cae3ff;
}
.device_dia .content_box .info .info_box .item .el-table td,
.device_dia .content_box .info .info_box .item .el-table th.is-leaf {
  background-color: #00034f;
}
.device_dia .content_box .info .info_box .item .el-table td,
.device_dia .content_box .info .info_box .item .el-table th {
  padding: 8px 0;
  font-weight: 400;
}
.device_dia .content_box .info .info_box .item .hisStatuTable.el-table td {
  padding: 2px 0;
}
.device_dia .content_box .info .info_box .item .btn_img {
  display: inline-block;
  cursor: pointer;
  width: 82px;
  height: 30px;
  transform: translateY(3px);
  background: url('../images/deviceTopology/button.png');
}
.device_dia .content_box .info .info_box .item .btn_img:hover {
  background: url('../images/deviceTopology/button_hover.png');
}
.device_dia .content_box .info .info_box .item .el-pagination .btn-prev {
  background: #00034f;
  color: #53627c;
}
.device_dia .content_box .info .info_box .item .el-pagination button:disabled {
  background: #00034f;
  color: #666;
}
.device_dia .content_box .info .info_box .item .el-pagination .btn-next {
  background: #00034f;
  color: #53627c;
}
.device_dia .content_box .info .info_box .item .el-pager li {
  background-color: #00034f;
}
